html,body{
    background: #6c6c6c;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

#content{
    width: 80%;
    height: 600px;
    margin: 0 auto; /*水平居中*/
    position: relative; /*脱离文档流*/
    top: 30%; /*偏移*/
    margin-top: -150px;
}

.lefts{
    width:38%;
    height:500px;
    margin-right: 1%;
    float:left;
}

.medium{
    width:22%;
    height:500px;
    margin-right: 1%;
    float:left;
}

.rights{
    width:38%;
    height:500px;
    float:left;
}

.radius{
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius:5px;
}

textarea{
    resize: none; /*禁止拖动*/
    width:99%;
    height:99%;
}

table{
    width:100%;
}

button{
    text-align:center;
    width:48%;
    height:30px;
    border-radius:3px;
}
